name: 构建IYUUAutoReseed镜像

on:
  workflow_dispatch:
  push:
    paths: .github/workflows/IYUUDocker.yml

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Login to GitHub
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.HUB_TOKEN }}
      
      - name: Login to Aliyun
        uses: docker/login-action@v1
        with:
          registry: registry.cn-chengdu.aliyuncs.com
          username: ${{ secrets.ALI_USERNAME }}
          password: ${{ secrets.ALI_PASSWORD }}
      
      - name: Login to Tencent
        uses: docker/login-action@v1
        with:
          registry: ccr.ccs.tencentyun.com
          username: ${{ secrets.TX_USERNAME }}
          password: ${{ secrets.TX_PASSWORD }}

      - name: 构建并推送到Dockerhub
        uses: docker/build-push-action@v2
        with:
          context: .
          file: ./Dockerfile
          platforms: linux/386,linux/amd64,linux/arm/v6,linux/arm/v7,linux/arm64,linux/ppc64le,linux/s390x
          push: true
          tags: |
            anthonymsen/iyuuautoreseed:latest
            ghcr.io/anthonymsen/iyuuautoreseed:latest
            ccr.ccs.tencentyun.com/anthonymsen/iyuuautoreseed:latest
            registry.cn-chengdu.aliyuncs.com/anthonymsen/iyuuautoreseed:latest
